// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)

@import "./node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.container {
 display: flex;
 flex-direction: column;
 align-items: center;
}